cat > .gitignore << 'EOF'
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/

# PyCharm
.idea/
*.iml
.junie/
TODO.md
/src/notebooks/pickle_data/*
/src/notebook_flat_graph/pickle_data/*
# Jupyter Notebook checkpoints
.ipynb_checkpoints
test-input/*
/src/inspector_git/examples/gitlog_full.json
/src/inspector_git/guidelines.txt
# OS files
.DS_Store
Thumbs.db
EOF
